 /*Reset CSS*/
 *{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
}

/*Proprietà generali della pagina*/

body{
    font-family: 'Lato',Helvetica,  sans-serif;
    font-size: 20px;
    color: #2d2d2d;
    background-color: white;
}
h1, h2, h3, h4, h5{
    font-family:  'Bebas Neue', Helvetica, sans-serif;
}

/* formattazione HEADER e NAV */

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    align-items: center;
    flex-wrap: wrap;
}
img.logo {
    width:300px; 
    height:auto;
}
nav ul {
    display: flex;
}
nav li {
    display: inline-block; /* tende a togliere i pallini a <li> */
    margin-left: 27px;
    /* toglie i pallini al <li> */
    list-style: none;
    font-size: 23px;
    text-transform: capitalize;
}
li a {
    text-decoration: none;
    color: #2d2d2d;
    font-family: 'Bebas Neue', Helvetica, sans-serif;
}
li a:hover {
    color: #0071bb;
}
.active {
    color: #0071bb;
}

/* formattazione ASIDE */

#banner {
    background: url(img/banner.jpg) no-repeat center center;
    width: 100%;
    height: 600px;
    background-size: cover;
}

/* formattazion MAIN - "display:flex" di default a SECTION e impostazione margini */

section {
    padding: 0px 10%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 45px; /*vedi perche eredita il margin-top nello shop*/
}

/* creazione classe per elementi con sfondo immagine grande */

.background {
    background: url(img/title_background.png) no-repeat center center;
    background-size: 100% 100%;
}

/* PRIMA SECTION (DATI ONLUS) */

section.background {
    justify-content: space-between;
    margin-top: 15px;
}
    h2 {
    text-align: center;
    color: white;
    padding: 10px 0px;
    font-size: 45px;
}
.background h2:nth-child(odd) {
    font-size: 30px;
}
.background h2:nth-child(even) {
    font-size: 55px;
}

/* SECONDA SECTION (PRESENTAZIONE) */

section.presentation {
    margin-top: 60px;
}
section.presentation span{
    color: #0071bb;
    
    font-weight: bold;
}
section.presentation p.pag_index{
    font-size: 26px;
}

/* divisone in colonne degli elementi interni a <section class="presentation">:
10 px di padding aggiunto per allineare verticalmente i bordi con le immagini */

.presentation .col {
    width: 40%;
    line-height: 35px;
    padding-left: 10px;
    padding-right: 5px;;
}
.presentation .col_2 {
    width: 60%;
    /* border: 2px solid black; */
    text-align: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 0px;
}

/* TERZA SECTION (OFFERTE) */

/* "display:flex" a DIV contenente ARTICLES e al BLOG (vedi QUARTA SECTION */

.offers,
.blog {

    display: flex;
    margin-top: 45px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* titoli H3 con sfondo immagine piccolo (no class .background */

.col h3 {
    font-size: 33px;
    text-align: center;
    padding: 8px 0px 20px 0px;
    background: url(img/subtitle_background_blue.png) no-repeat center center;
    background-size: 100% 45%;
    background-position: top;
}

/* colonne a tre immagini */

.activity .col {
    width: 33.33%;
    padding: 0px 10px;
    margin-top: 20px;
}

/* impostazioni per immagini (anche per SECTION BLOG) */

img {
    width: 100%;
    max-width: 100%;
    height: auto;
}
 a img:hover {
    opacity: 0.7;
}

/* impostazione h2 con sfondo immagine */ 

.activity h2,
.blog h2,
.team h2 {
    align-items: center;
    width: 70%;
    margin: 0px auto auto;
    border-radius: 50px;
}

/* QUARTA SECTION (BLOG) */

.blog_article {
    font-weight: bold;
    text-align: left;
    margin: 5px 0px;
    font-size: 17px;
    line-height: 25px;
}
.image_author{
    width: 40px;
    height: 40px;
}
.image_author img {
    border-radius: 50%;
}
.cont_info_author{
    display: flex;
    align-items: center;
    padding-left: 10px;
}

p.article_left{
    text-align: left;
}
span.author_name{
    padding-left: 15px;
    font-size: 12px;
}

/* colonne a due immagini */

.blog .col {
    width: 50%;
    padding: 0px 10px;
}

/* FOOTER con "display: flex" */

footer {
    background-color: #0071bb;
    color: white;
    height: 150px;
    margin-top: 40px;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* colonne a tre del FOOTER */

footer .col {
    width: 33.33%;
}

/* colore link a email */

footer .col a {
    color: rgb(228, 228, 228);
}

footer .col a:hover {
    color: #2d2d2d;
}

/* menu social flex */

footer .menu_social {
    display: flex;
    width: auto;  
    justify-content: center;
    text-align: right;
}

/* i link portano ai social di MOHOLE */
.fab {
    padding-left: 30px;
}
footer a {
    opacity: 1;
}
footer p {
    font-size: 12px;
    text-align: justify;
}
footer .menu_social a:hover  {
    opacity: 0.6;
} 

footer #disclaimer p {
    text-align: left;          
} 
footer  h5,
footer p {
    text-align: center;
}
h1.motto{
    margin: 30px 0px;
    text-align: center;
    font-size: 54px;
    color: #0071bb;
}

/* CSS pagina SHOP e pagina MISSION */
.presentation div.col {
    line-height: 35px;
    padding-left: 10px;
    padding-right: 5px;
    text-align: justify;    
}
div.emoji {
    align-items: stretch;
}

/* divide immagine e testo di MISSION in due colonne uguali */

.mission .col {
    width: 30%;
}
.mission .col_2 {
    width: 65%;
    text-align: justify;
}
.mission {
    justify-content: space-between;
}
/* riduce il margine */

section.mission {
    margin-top: 0px;
}

.h4 {
    border-bottom: 10px double #0071bb;
    width: 98%;
    margin: 0px auto;
}

.presentation h5,
span h4 {

    font-size: 32px;   
    color:  #0071bb; 
    margin-top: 30px;
    margin: 10px auto;
    width: fit-content;
}

span h4 {
    margin-bottom: 0px;
    padding: 5px 50px 0px 50px;
    background-color: #0071bb;
    color: white;
    margin: 0px 0px 0px 0px;
    text-align: center;
    border-top-right-radius: 20px;
}

.presentation p {
    line-height: 30px;   
}
.shop .col,
.team .col {
    width: 25%;
    padding: 0px 10px;
    margin-top: 1px;
}

section img{
    border-radius: 3%;
}
.mission img {
    border-radius: 50%;
}

/* MISSION NEWSLETTER */

.newsletter {
    display: flex;
}

form {
    padding-left: 10px;
}

input {
    border: 1px solid black;
    display: block;
    margin: 20px 0px;
}
.col_3 {
    width: 33.3%;
    margin: 40px 0px;
}
.button {
    text-align: center;
}
.button button {
    background-color: #0071bb;
    align-self: center;
    font-size: 40px;
    margin-top: 110px;
    color: white;
}

/* .shop img,
.team img {
    border-radius: 3%;
} */
article .price{
    color: #0071bb;   
}
 .frase_shop{
    text-align: center;
    color: #0071bb;  
    margin: 55px 0px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 42px;
    line-height: 70px;
}
.team {
    margin: 100px 0px;
}
.help {
    margin-top: 100px;
}

/*pagina VOLUNTERING CSS*/
main.volont{
    margin: 20px;
    display: flex;
    flex-wrap: wrap; /*va a capo quando non c'è più spazio. è utile per il responsive*/         
}
main.volont .colonna_25{
width: 25%;
padding: 20px;
text-align: center;
font-size: 17px;
}
main.volont .colonna_50{
width: 50%;    
text-align: center;
}
main.volont h3{
font-size: 32px;
color: #0071bb;
}

.search{ /* colonna sx */
border: 1px solid  gray;
text-align: center;
border-radius: 2%;   
}
.search p{
text-align: center;
color: gray;
}

.title_25 p{
text-align: left;
color: #0071bb;
font-size: 25px;
padding-top: 35px;
}
.destination ul,
.how_help ul{
padding-top: 15px;
}
main.volont li{
line-height: 32px;
text-align: left;
list-style: none;
} /* finito colonna sx */

/* inizio colonna dx */
article .cont_blu{ 
text-align: center;
margin-right: 20px;
background-color: #0071bb;
border-radius: 3%;
}
p.big{
font-size: 24px;
}
.cont_blu p{
padding: 15px;
color: white;
}
article .domande{
padding-top: 20px;
text-align: center;
margin-right: 20px;
text-align: left;
}
p.question{
color: #0071bb;
font-size: 25px;
}/* fine colonna dx */


/* colonna centrale*/

.cont_opport{
display: flex;
height: auto;
padding-top: 20px;
padding-bottom: 20px;   
}
div.tre{
padding-left: 10px;
text-align: left;
align-items: center;
align-content: center;
}

div.tre{

text-align: left;
}
.quadrato img{
border-radius: 3%;
}
article.colonna_50 p{
    font-size: 15px;
    line-height: 30px;
}


/* CSS BLOG */

    section.blog_content {
    padding: 0px;
    margin-top: 0px;
    margin: 2%;
    justify-content: center;
   }
   
   div.card {
        width: 20%;
        box-shadow: 2px 2px 5px #2d2d2d;
        border-radius: 5px; 
        margin: 2%;
        background-color: lightgray;
       }

   .image {
        border-radius: 5px;
   }    
   
   .image img {
        border-radius: 0px;
        padding: 10px;
     }
   
   .title {
        text-align: center;
        padding: 10px;
    }
   
   .des {
        padding: 3px;
        text-align: center;
        padding-top: 10px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
   }

   button{
        margin-top: 40px;
        margin-bottom: 10px;
        background-color: whitesmoke;
        border-radius: 5px;
        padding:10px;
        font-family: "Bebas Neue";
   }
   button:hover{
        background-color: #2d2d2d;
        color: white;
        transition: 0.8s;
        cursor: pointer;
   }
   .image .cont_info_author {
       justify-content: space-evenly;
   }


/* mediaquery */
@media (max-width: 1210px) {
    .presentation .col { /*pagina shop*/
        width: 100%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
        line-height: 25px;
    }

    /* diminuisce il size del font dei titoli delle ACTIVITIES e elimina le colonne col testo e la worldmap */
    .presentation #testo{
        line-height: 50px;
    }
    .presentation .col {
        width: 100%;
        margin-bottom: 40px;
        padding-left: 0px;
    }
    .presentation .col_2 {
        width: 100%;
        text-align: justi;
        margin-top: 0px;
        margin-right: 0px;
        padding-left: 5px;
    }

    /* aggiunto per MISSION */

    .newsletter {
        text-align: center;
    }

    input {
        margin-left: auto; 
        margin-right: auto;
    }

    .mission div.col {
        width: 60%;
        margin: 8% auto;
    }
    .offers {
        margin-top: 20px;
    }
    .col h3 {
        font-size: 30px;
    }
    div.card {
        width: 35%
    }
    .col_3 {
        width: 100%;
        justify-content: center;
    }
    .button button {
        margin-top: 0px;
    }
    .newsletter img {
        width: 60%;
    }

    
}
@media (max-width: 1000px) {

    /*cambia il layout della SECTION BACKGROUND */ 
 
    section.background {
        flex-direction: row;
    }
    /* scambia l'ordine degli elementi e mette al primo posto e in alto OUR NUMBER */

    section.background :nth-child(1) {
       order: 2;
       width: 50%;
       font-size: 20px;
    }
    section.background :nth-child(2) {
        order: 1;
        width: 100%;
        padding-bottom: 0px;
     }
    section.background :nth-child(3) {
        order: 3;
        width: 50%;
        font-size: 20px;
     }
     .activity h2,
     .blog h2 {
     width: 100%;
     font-size: 38px;
     }
     .col h3 {
        font-size: 25px;
    }
}

@media (max-width: 780px) {
 
/* crea il layout a colonna unica */

    .activity .col {
        width: 90%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .blog .col {
        width: 90%;
        margin-bottom: 25px;
        margin-left: auto;
        margin-right: auto;
    }
    .activity .col:nth-child(3) {
        width: 90%;
        margin-bottom: 0px;
    }

    /* aggiunto da Andre: metto i prodotti dello shop su 2 colonne*/
    /* aggiunt da Giuseppe .team .col per MISSION */
    .shop .col,
    .team .col {
        width: 50%;
        padding: 0px 5px;
        margin-top: 1px;
    }

    /* mette il menu in colonna */

    nav ul {
        flex-direction: column;
    }
    header {
        flex-direction: column;
        align-items: flex-start;
    }
    

    /* nasconde PROGRAMMES AND EVENT dall'H2 della SECTION ACTIVITY per motivi di spazio */

    .hide {
        display: none;
    }
    .blog_article {
        font-size: 20px;
    }
    section h2:nth-child(1),
    section h2:nth-child(3) {
        width: 90%;
    }
    section.background :nth-child(1),
    section.background :nth-child(3) {
        font-size: 15px;
     }
     section.background :nth-child(2) {
        padding-bottom: 0px;
     }
    /* query pagina volunteering*/
    .colonna_25{
    display: none;
    }
    main.volont .colonna_50{
        width: 100%;    
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .cont_opport {
        flex-direction: column;
        align-items:center;
    }
    
}

@media (max-width: 700px) {

    section.background :nth-child(2) {
        font-size: 45px;
      }

    /* footer responsive: mostra per prime le icone */

    footer {
        flex-direction: column-reverse;
        height: 250px;
    }
    footer div.col {
        width: 100%;
        margin: 10px 0px;
    }
    div.menu_social a img {
        width: 30%;
    }
    footer .menu_social {
        text-align: center;
    }
    div.card {
        width: 70%;
    }

}

/* mediaquery per iPhone X, iPhone6/7 etc. */

@media (max-width: 415px) {

        .activity {
            margin-top: 0px;
        }
        .activity h2,
        .blog h2 {
            font-size: 25px;
        }

        .blog_article {
            font-size: 13px;
            line-height: 20px;
        }
        /*  L'ho tolta perche mi faceva sparire il banner nella pagina shop
        .presentation img {
            display: none;
        }*/
        .presentation p {
            font-size: 18px;
            text-align: center;
        }
        #banner {
            background-position: left;
        }

        .mission div.col {
            width: 80%;
            margin: 10% auto;
        }
    
    }

/* mediaa query per iPhone5 S/E */

        @media (max-width: 325px) {
            img.logo {
                width:250px;
            }
            section.background :nth-child(1),
            section.background :nth-child(3) {
                font-size: 13px;
            }
            .presentation .col p {
                text-align: left;
            }
    }


/* CSS per animazioni shop */
.pos1 {
    position: relative;
    overflow: hidden;/* nasconde contenuto che eccede le dimensioni*/
    border-radius: 3%;
}
.pos2 {
    position: absolute;
    height: 105px;
    padding: 10px 10px 0px;
    background-color: rgba(0,0,0,0.1);
    color: gray;
    width: 100%;
    /* posizionamento assoluto */
    bottom: -49px;
    left: 0px;
    z-index: 2 ;/* se avete più di un elemento absolute 
    sono ordinabili come livelli con numeri progressivi (piu alto = piu vicino all operatore)*/
    transition-duration: 0.9s;
}
.pos1 img {
    transition: all 0.9s ease;
}
.pos1 img {
    transform: scale(1.1);
}
.pos1 img:hover {   
    transform: scale(1.2);
}
.pos2:hover {
    color: black;
    bottom: 0px;
    transition: all 1s ease-in;
}
/* attenzione alla discendenza con ID */
section#centrale .fa-chevron-down {
    font-size: 48px;
}